# 0. Variables

In [1]:
space_name = 123.678

In [2]:
space_name

123.678

In [3]:
type(space_name)

float

# 1. Data Types

In [4]:
# This is declaring a variable as a STRING
test_variable = 'pluto'
print(test_variable)

pluto

In [5]:
type(test_variable)

str

In [6]:
#This is declaring a variable as an Integer
integer_variable = 12345
type(integer_variable)

int

In [7]:
integer_variable + 10

12355

In [8]:
#Declaring variable as a Float
float_variable = 123.126
type(float_variable)

float

In [9]:
#This is declaring a Boolean value to a variable
bool_variable = bool(0)
type(bool_variable)

bool

In [10]:
bool_variable

False

In [11]:
# This is creating a list variable
list_variable=[1, 2, 3, 23.44, 85.4, 22.1,3,1,2,3]
type(list_variable)

list

In [12]:
list_variable

[1, 2, 3, 23.44, 85.4, 22.1, 3, 1, 2, 3]

In [13]:
list_variable[3]

23.44

In [14]:
#Updating a list
list_variable[5]=123

In [15]:
list_variable

[1, 2, 3, 23.44, 85.4, 123, 3, 1, 2, 3]

In [16]:
# Create a TUPLE variable, IMMUTABLE
tuple_variable = (1, 2, 3, 23.44, 85.4, 22.1)
type(tuple_variable)

tuple

In [17]:
tuple_variable

(1, 2, 3, 23.44, 85.4, 22.1)

In [18]:
tuple_variable[5]

22.1

In [19]:
#Cannot update values like LIST in TUPLE!!!!!

In [20]:
# This is creating a SET variable
set_variable = {1, 2, 3, 23.44, 85.4, 22.1,3}
type(set_variable)

set

In [21]:
set_variable

{1, 2, 3, 22.1, 23.44, 85.4}

In [22]:
# Type casting list to set, and then back to list to get rid of duplicates
list(set(list_variable))

[1, 2, 3, 85.4, 23.44, 123]

In [23]:
# Defining a dictionary variable
dict_variable = {'name':"Nicholas", 'favourite_color':'red', 'favourite_number':44}
type(dict_variable)

dict

In [24]:
dict_variable['name']

'Nicholas'

In [25]:
dict_variable['favourite_number']

44

In [26]:
tuple(list_variable)

(1, 2, 3, 23.44, 85.4, 123, 3, 1, 2, 3)

# 2. Lists

In [27]:
# Create
names = ['neil amstrong', 'buzz alfrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [28]:
# Read
names

['neil amstrong', 'buzz alfrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [29]:
# Reading using indexing
names[0]

'neil amstrong'

In [30]:
names[-1]

'elon musk'

In [31]:
len(names)

5

In [32]:
# Update
names[-1] = 'lukman nur hafiz'
names

['neil amstrong',
 'buzz alfrin',
 'sally ride',
 'yuri gagarin',
 'lukman nur hafiz']

In [33]:
names.append('elon musk')

In [34]:
names

['neil amstrong',
 'buzz alfrin',
 'sally ride',
 'yuri gagarin',
 'lukman nur hafiz',
 'elon musk']

In [35]:
names.insert(0, 'richard branson')

In [36]:
names

['richard branson',
 'neil amstrong',
 'buzz alfrin',
 'sally ride',
 'yuri gagarin',
 'lukman nur hafiz',
 'elon musk']

In [37]:
# Delete
del names[-2]

In [38]:
names

['richard branson',
 'neil amstrong',
 'buzz alfrin',
 'sally ride',
 'yuri gagarin',
 'elon musk']

# 3. Dictionaries

In [39]:
# Create
astronaut = {
    'name':'elon musk',
    'suit_size':'large',
    'allergies':'peanuts'
}

In [40]:
# Read
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'peanuts'}

In [41]:
astronaut['suit_size']

'large'

In [42]:
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [43]:
astronaut.values()

dict_values(['elon musk', 'large', 'peanuts'])

In [44]:
# Update

In [45]:
astronaut['allergies']='mango'

In [46]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

In [47]:
astronaut['space_ship'] = 'galactic 1'

In [48]:
astronaut

{'name': 'elon musk',
 'suit_size': 'large',
 'allergies': 'mango',
 'space_ship': 'galactic 1'}

In [49]:
# Delete

In [50]:
del astronaut['space_ship']

In [51]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

# 4. Conditions and Logic

In [52]:
# Applying logic using the IF statement
name = 'Neil Armstrong'

if name == 'Neil Armstrong':
    print ('sup ' + name)

sup Neil Armstrong

In [53]:
probability = 0.1

if probability >= 0.5:
    print(True)
elif probability < 0:
    print('Check your probability')
else:
    print(False)

False

In [54]:
# Create a list of names
names = ['neil amstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

if 'elon musk' in names:
    print('Elon\'s here')

Elon's here

# 5. Loops

In [55]:
# For loop
for name in names:
    print(name)
    if name == 'buzz aldrin':
        print('Hi ' + name + '\n')
        # Next value in the loop
        continue
    elif name == 'yuri gagarin':
        print('Hi ' + name + '\n')
        # Break statement stops the loop
        break
    else:
        # Placeholder to do nothing
        pass

    # Outside of if statement block
    print('Pleased to have you here!\n')

neil amstrong
Pleased to have you here!

buzz aldrin
Hi buzz aldrin

sally ride
Pleased to have you here!

yuri gagarin
Hi yuri gagarin

In [56]:
# Loop x number of times
for idx in range(10):
    print(idx)

0
1
2
3
4
5
6
7
8
9

In [57]:
for idx in range(1, 11):
    print(idx)

1
2
3
4
5
6
7
8
9
10

In [58]:
# Create launch variables
launched_shuttles = 0
total_shuttles = 5

# Create a while loop
while True:
    # String formatting - injecting values into the string
    print('Shuttle {} launched'.format(launched_shuttles+1))
    launched_shuttles += 1

    if launched_shuttles == total_shuttles:
        print('All shuttles launched')
        break

Shuttle 1 launched
Shuttle 2 launched
Shuttle 3 launched
Shuttle 4 launched
Shuttle 5 launched
All shuttles launched

In [59]:
# Loop through dictionary

astronaut = {
    'name':'elon musk',
    'suit_size':'large',
    'allergies':'peanuts'
}

In [60]:
# Accessing a dictionary keys
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [61]:
# Loop through keys in a dictionary
for key in astronaut.keys():
    print(key)

name
suit_size
allergies

In [62]:
# Accessing a dcitionary values
astronaut.values()

dict_values(['elon musk', 'large', 'peanuts'])

In [63]:
# Loop through values in a dictionary
for values in astronaut.values():
    print(values)

elon musk
large
peanuts

In [64]:
# Loop through keys and values at the same time

for key, value in astronaut.items():
    print(key + ':' + value)

name:elon musk
suit_size:large
allergies:peanuts

In [65]:
# List comprehension
new_list=[name.title() for name in names]

In [66]:
new_list

['Neil Amstrong', 'Buzz Aldrin', 'Sally Ride', 'Yuri Gagarin', 'Elon Musk']

In [67]:
names

['neil amstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [68]:
# .title() untuk besarkan huruf depan

# 6. Functions

In [69]:
# Defining a function in Python
def launchpad_welcome():
    print('hello')
    print(1+2)
    print(1+4)

In [70]:
# Running our function
launchpad_welcome()

hello
3
5

In [71]:
names=['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [72]:
# Positional Arguments
def custom_welcome(name):
    print('Welcome {}'.format(name))

In [73]:
for name in names:
    custom_welcome(name)

Welcome neil armstrong
Welcome buzz aldrin
Welcome sally ride
Welcome yuri gagarin
Welcome elon musk

In [74]:
# Multiple Positional Arguments - POSITION IS IMPORTANT
def custom_welcome_to_ship(name, space_ship):
    print('Welcome {} to the {}'.format(name, space_ship))

In [75]:
custom_welcome_to_ship('Lukman', 'Galactic 1')

Welcome Lukman to the Galactic 1

In [76]:
space_ships = ['Galactic 1', 'Galactic 2', 'USS Voyager', 'Soyuz 1', 'Apple Space Ship']

In [77]:
# Use the enumerate function to get the positional index AND the name
for idx,name in enumerate(names):
    ship = space_ships[idx]
    custom_welcome_to_ship(name, ship)

Welcome neil armstrong to the Galactic 1
Welcome buzz aldrin to the Galactic 2
Welcome sally ride to the USS Voyager
Welcome yuri gagarin to the Soyuz 1
Welcome elon musk to the Apple Space Ship

In [78]:
# This is using keyword arguments
def space_suit(color='Blue'):
    print('Your space suit is {}'.format(color))

In [79]:
space_suit(color='Red')

Your space suit is Red

In [80]:
# Multiple keyword arguments
def space_suit_welcome(name, space_ship, color='Blue', allergies='None'):
    print('Welcome {} to the {}, your space suit is {}, you have {} allergies'.format(name, space_ship, color, allergies))

In [81]:
space_suit_welcome('Elon Musk', 'Apple iShip', color='Red', allergies='Peanuts')

Welcome Elon Musk to the Apple iShip, your space suit is Red, you have Peanuts allergies

In [82]:
# Setup a return statement
def space_suit_welcome_with_return(name, space_ship, color='Blue', allergies='None'):
    return 'Welcome {} to the {}, your space suit is {}, you have {} allergies'.format(name, space_ship, color, allergies)

In [83]:
space_suit_welcome_with_return('Elon Musk', 'Apple iShip', color='Red', allergies='Peanuts')

'Welcome Elon Musk to the Apple iShip, your space suit is Red, you have Peanuts allergies'

In [84]:
# Example of storing results of the function inside of the variable
welcome = space_suit_welcome_with_return('Elon Musk', 'Apple iShip', color='Red', allergies='Peanuts')

In [85]:
print(welcome)

Welcome Elon Musk to the Apple iShip, your space suit is Red, you have Peanuts allergies

In [86]:
# lambda function - anonymous function
# needs to be in a single line
pi = lambda x: x*3.142

In [87]:
pi(2)

6.284

# 7. Classes

In [88]:
# Classes as boilerplates for objects
# Basically, a function that is attached to a class, and has its own attributes/properties
class Person():
    # The method that runs as soon as you create a class - initialise
    # self macam this dalam java
    def __init__(self, name, age, color):
        # Create some attributes for our person class
        self.name = name
        self.age = age
        self.color = color

    # Methods are similar to functions, the core difference is that a method must be called on an object(which is an instance of a class).
    # Date of biorth method
    def year_of_birth(self):
        return 2024-self.age

    # Projected age
    def project_age(self, years=5):
        return self.age+years

In [89]:
new_person = Person('Elon Musk', 38, 'blue')

In [90]:
# Accessing a class attribute
new_person.name

'Elon Musk'

In [91]:
new_person.age

38

In [92]:
# Run a method
# Accessing a method must have parentheses ()
new_person.year_of_birth()

1986

In [93]:
# Run a method with a keyword argument
new_person.project_age(years=10)

48

In [94]:
new_person.project_age()

43

## 7.1 Inheritance
- PARENT is the class passing down attributes and methods
- CHILD is the class inheriting the methods and attributes
- Inheriting from parent classes aloows you to make your code modular as you're extending an existing remplate (parent class) rather than redefining all the properties and methos all over again.

In [95]:
# Create a child class
class Astronaut(Person):

    # Define initialization function
    def __init__(self, name, age, color, mission_length_months):
        # This is what gives us inheritance - SUPER METHOD
        super().__init__(name, age, color)
        self.mission_length_months = mission_length_months

    # Method for calculating age on return
    def age_on_return(self):
        return self.project_age(self.mission_length_months/12)

In [96]:
new_astronaut = Astronaut('Hafiz', 22, 'pink', 48)

In [97]:
# Access parent like attribute
new_astronaut.age

22

In [98]:
new_astronaut.year_of_birth()

2002

In [99]:
new_astronaut.age_on_return()

26.0

# 8. Modules
- Importing from modules keeps your code cleaner, makes it more modular and reduces the need to redefine classes or functions repeatedly throughout projects

In [100]:
# Import launch codes helper
from helpers import launch_codes

In [101]:
launch_codes()

123456789

# 9. Working with Packages
- API stands for application programming interface. You'll frequently have to interact with APIs to grab data or work with systems
- Remote URL that allows you to call it and return specific values

In [102]:
#pip install requests

In [103]:
#!pip list

In [104]:
# Import requests into notebook
import requests

In [105]:
requests.get??

Signature: requests.get(url, params=None, **kwargs)
Source:
def get(url, params=None, **kwargs):
    r"""Sends a GET request.

    :param url: URL for the new :class:`Request` object.
    :param params: (optional) Dictionary, list of tuples or bytes to send
        in the query string for the :class:`Request`.
    :param \*\*kwargs: Optional arguments that ``request`` takes.
    :return: :class:`Response <Response>` object
    :rtype: requests.Response
    """

    return request("get", url, params=params, **kwargs)
File:      c:\programdata\anaconda3\lib\site-packages\requests\api.py
Type:      function

In [106]:
# I can haz dad joke api endpoint
# endpoint is just the url that you need to be hitting
joke_url = 'https://icanhazdadjoke.com'

# ISS API endpoint
iss_url = 'https://api.wheretheiss.at/v1/satellites/25544'

In [107]:
# This is setting up a header - metadata for your api requests
my_header = {
    'Accept':'application/json'
}

# API call
results = requests.get(joke_url, headers=my_header)

In [108]:
# Status of API request
results

In [109]:
# Extract JSON results from API
json_result = results.json()

In [110]:
json_result

{'id': '9xPCt411ojb',
 'joke': 'What did one snowman say to the other snow man? Do you smell carrot?',
 'status': 200}

In [111]:
type(json_result)

dict

In [112]:
json_result['joke']

'What did one snowman say to the other snow man? Do you smell carrot?'

In [113]:
# Making an ISS API call
iss_results = requests.get(iss_url, headers=my_header)

In [114]:
iss_results

In [115]:
iss_results.json()

{'name': 'iss',
 'id': 25544,
 'latitude': 31.478033083534,
 'longitude': -73.590149082797,
 'altitude': 415.29321193965,
 'velocity': 27603.317378391,
 'visibility': 'daylight',
 'footprint': 4483.4394962213,
 'timestamp': 1743182772,
 'daynum': 2460763.2265278,
 'solar_lat': 3.2859163935568,
 'solar_lon': 279.67864263014,
 'units': 'kilometers'}

# 10. Working with Files

__with statement__
- helps work with resources like file streams.
- it handles exceptions and ensures the stream is closed when no longer needed.

__open modes__
- There are a number of different modes you can use with the open function. Some common ones are :
  - i. r:read
  - ii. w: write
  - iii. a: append
  - iv. rb, wb: read binary, write binary

In [116]:
#open??

In [117]:
# Write out our mission journal - w
with open('mission_journal.txt', 'w') as f:
    f.write("It's my first day on the space mission. It is very nice.")

In [118]:
# Read from journal - r
with open('mission_journal.txt', 'r') as f:
    file = f.read()

In [119]:
print(file)

It's my first day on the space mission. It is very nice.

# 11. Error Handling

In [120]:
# Creat a set
new_set = {1,2,3,4,5,6}

__Exception__
- Note that by wrapping our code (which should cause an error) in a try/except block, an exception hasn't been raised but rather it's been handled gracefully.

In [121]:
# Try something using the try keyword
try:
    # Run a piece of code which may cause an error
    new_set[0] = 4

# If we have an error, this code below will run
except Exception as e:
    # Print out something that's a little nicer for the user
    print(e)
    print('Something went wront with your request.')

'set' object does not support item assignment
Something went wront with your request.

# 12. Math

In [122]:
# Create two variables
value_1 = 123
value_2 = 456

In [123]:
# Addition
value_1 + value_2

579

In [124]:
# Substraction
value_1 - value_2

-333

In [125]:
# Division
value_1/value_2

0.26973684210526316

In [126]:
# Dividing with the Integral Result
value_2 // value_1

3

In [127]:
# Modulus/Modulo
value_2 % value_1

87

In [128]:
# Multiplication
value_1 * value_2

56088

In [129]:
# Power - two asterisks
5 ** 2

25

In [130]:
value_1 ** 2

15129

In [131]:
# Round
round(123.456)

123

In [132]:
round(123.456, 2)

123.46

In [133]:
round??

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [134]:
# Absolute values
abs(-10990)

10990

In [135]:
# Minimum - return smallest values
min(2321, 34253, 232, 234, 43)

43

In [136]:
# Maximum - return maximum values
max(24312, 422, 4324, 12, 34)

24312

In [137]:
# Import the math package
import math

In [138]:
math.radians??

Signature: math.radians(x, /)
Docstring: Convert angle x from degrees to radians.
Type:      builtin_function_or_method